{% extends 'index.html' %}
{% block body %}
<div class="container" id="myrow">
    <div class="row">
        <pre>
            Welcome to Image Processing Web App (Imagify)
            What you will learn
                - Skimage
                - Feature Extraction
                - Machine Learning Model
                - Pipeline Model
                - Flask App
                - Deploy In Python Web App
        </pre>
    </div>
</div>
<style>
    #myrow {
        background-color: #EBEDEF;
        padding: 5%;
    }
</style>
{% endblock %}